:host {
  display: block;
  width: 100%;
  height: 100%; // Ocupa toda a altura do seu contêiner pai
}

#housing-map-container {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 2px solid var(--purpleWeak);
}
