* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.createuser {
  &-table {
    width: 100%;
    margin-top: 1rem;
  }
}
.edit-card {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid var(--cardBck);
  background-color: var(--cardBck);
  color: var(--text-color);

  mat-card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--purpleBck);
    text-align: center;
  }

  mat-form-field {
    color: var(--text-color);
  }

  input,
  mat-select {
    background-color: transparent;
    color: var(--text-color);
  }

  mat-error {
    color: red;
  }

  .actions button {
    background-color: var(--purpleBck);
    color: white;
  }

  .full-width {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .actions {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .success {
    color: green;
  }

  .error {
    color: red;
  }
}
