* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.home-listing {
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--purpleWeak);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.603);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  &-photo {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.404);
  }

  &-heading {
    color: var(--card-title-color);
    padding: 10px 20px 0;
  }

  &-location {
    font-size: 1rem;
    color: var(--card-title-color);
    padding: 5px;
  }

  &-link {
    text-decoration: none;
    color: var(--card-title-color);

    &::after {
      margin-left: 5px;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 8px;
  }

  &-pin {
    height: 20px;
    width: 20px;
    animation: bounce 1s ease-in-out 0s 3;
    transform-origin: bottom center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    padding-bottom: 4px;
  }
}

// animação do pin
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-5px);
    opacity: 0.7;
  }
}

:host {
  display: block;
  position: relative;
}

.housing-card {
  position: relative;
  padding-bottom: 2.5rem;
}

.card-edit-button-wrapper {
  display: flex;
  justify-content: flex-end;
  bottom: 0.5rem;
  right: 0.5rem;
}

.edit-button {
  background-color: var(--purpleBck);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  .material-icons {
    font-size: 20px;
  }

  &:hover {
    background-color: rgba(56, 28, 158, 0.8);
  }
}

.favorite-icon-button {
  position: absolute;
  top: 10px; // aumente o espaço do topo
  right: 10px; // aumente o espaço da direita
  background: white;
  border: none;
  border-radius: 50%;
  padding: 10px; // aumente o padding
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: background 0.2s;

  mat-icon {
    color: #bdbdbd;
    font-size: 26px; // aumente o tamanho do ícone se quiser
    transition: color 0.2s;
    justify-content: center;
    align-items: center;
  }

  &.favorited mat-icon {
    color: #e53935;
  }

  &:hover mat-icon {
    color: #e53935;
  }
}

// Base de estilo para o label
.home-listing__type-label {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  font-weight: 600;
  margin-left: 3%;
}

// Modificador SELL
.home-listing__type-label--sell {
  background-color: rgb(167, 214, 176);
  color: var(--purpleBrdr);
}

// Modificador RENT
.home-listing__type-label--rent {
  background-color: #add8e6;
  color: var(--purpleBrdr);
}
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}
