:host {
  padding: 16px;
  font-size: 16px;
  color: var(--text-color);
}

.about {
  padding: 2rem;
  color: var(--titleAC);
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
.about-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.about-card {
  max-width: 600px;
  padding: 1rem;
  background-color: var(--cardBck);
  border-radius: 16px;
  box-shadow: 0 4px 10px #381c9e49;
}
mat-card-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--titleAC);
  text-align: center;
}
