h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--titleAC);
  text-align: center;
}
.activity-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; // Garante que todos os cards tenham a mesma altura
}

/* Reuse house-cards styling */
.home-listing {
  display: flex;
  flex-direction: column;
  background-color: var(--purpleWeak);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  min-width: 300px; // fixed width for cards
  gap: 20px;
  height: 100%;
  margin: 0 12px 24px 12px; // <-- Updated margin

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  &-photo {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  &-heading {
    color: var(--card-title-color);
    padding: 10px 20px 0;
    font-size: 1.25rem;
  }

  &-link {
    text-decoration: none;
    color: var(--card-title-color);
    cursor: pointer;
  }

  &-row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;

    mat-icon {
      color: var(--purpleBrdr);
    }
  }

  &-location {
    font-size: 0.9rem;
    color: var(--card-title-color);
    margin: 0;
  }
}

/* Type label styling */
.home-listing__type-label {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  font-weight: 600;
  margin: 10px 20px 0;
}

.home-listing__type-label--sell {
  background-color: rgb(167, 214, 176);
  color: var(--purpleBrdr);
}

.home-listing__type-label--rent {
  background-color: #add8e6;
  color: var(--purpleBrdr);
}

.application-actions {
  display: flex;
  justify-content: flex-end;
}
.edit-button {
  background-color: var(--purpleBck);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.4rem 0.6rem;

  display: flex;
  align-items: center;
  cursor: pointer;

  .material-icons,
  mat-icon {
    font-size: 20px;
  }

  &:hover {
    background-color: rgba(56, 28, 158, 0.8);
  }
}
.mat-mdc-button-touch-target {
  min-width: 20px; // Ensures the button has a minimum width
  min-height: 20px; // Ensures the button has a minimum height
}
