.title-h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--titleAC);
  text-align: center;
}
.activity-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha em telas pequenas */
  gap: 20px; // ou menos, ajuste conforme desejar
  padding: 0 20px;
  justify-content: center;
}

.home-listing {
  display: flex;
  flex: 0 1 370px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  background-color: var(--purpleWeak);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  &-photo {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  &-heading {
    color: var(--card-title-color);
    padding: 10px 20px 0;
    font-size: 1.25rem;
    text-align: flex-start;
  }

  &-link {
    text-decoration: none;
    color: var(--card-title-color);
    cursor: pointer;
  }

  &-row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;

    mat-icon {
      color: var(--purpleBrdr);
    }
  }

  &-location {
    font-size: 0.9rem;
    color: var(--card-title-color);
    margin: 0;
  }
}

.home-listing__type-label {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  font-weight: 600;
  margin: 10px 20px 0;
}

.home-listing__type-label--sell {
  background-color: rgb(167, 214, 176);
  color: var(--purpleBrdr);
}

.home-listing__type-label--rent {
  background-color: #add8e6;
  color: var(--purpleBrdr);
}

.application-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.uncheck-button {
  background-color: rgb(230, 76, 76);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 4px 14px;
  padding-bottom: 0px;

  display: flex;
  align-items: center;
  cursor: pointer;

  .material-icons,
  mat-icon {
    font-size: 20px;
  }

  &:hover {
    background-color: rgb(155, 50, 50);
  }
}
.edit-button {
  background-color: var(--purpleBck);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 4px 14px;
  padding-bottom: 0px;

  display: flex;
  align-items: center;
  cursor: pointer;

  .material-icons,
  mat-icon {
    font-size: 20px;
  }

  &:hover {
    background-color: rgba(38, 20, 105, 0.8);
  }
}

.activity-footer {
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--purpleWeak);
  text-align: center;
  color: var(--text-color);

  p {
    margin-bottom: 8px; // Espaço entre os parágrafos no rodapé
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.no-applications-message {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 8px;
}
