<mat-card class="listing-reviews-card">
  <mat-card-title>Reviews</mat-card-title>
  <mat-card-content>
    <div *ngIf="(reviews$ | async)?.length; else noReviews">
      <div
        *ngFor="let review of reviews$ | async; trackBy: trackByReviewId"
        class="review"
      >
        <div class="review-header">
          <strong>{{ review.userName }}</strong>
          <span class="review-rating">
            <mat-icon *ngFor="let star of [].constructor(review.rating)"
              >star</mat-icon
            >
          </span>
          <span class="review-date">{{ review.date }}</span>
          <button
            *ngIf="canEditReviews"
            mat-icon-button
            color="primary"
            (click)="editReview(review)"
            [matTooltip]="'Edit Review'"
            aria-label="Edit Review"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            *ngIf="canEditReviews"
            mat-icon-button
            color="warn"
            (click)="deleteReview(review)"
            [matTooltip]="'Delete Review'"
            aria-label="Delete Review"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="review-comment">{{ review.comment }}</div>
      </div>
    </div>
    <ng-template #noReviews>
      <p>No reviews yet.</p>
    </ng-template>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form
      [formGroup]="reviewForm"
      (ngSubmit)="submitReview()"
      class="review-form"
    >
      <label for="userName">Your Name</label>
      <input id="userName" formControlName="userName" class="form-input" />

      <label>Rating</label>
      <div class="star-rating">
        <mat-icon
          *ngFor="let star of [1, 2, 3, 4, 5]"
          (click)="setRating(star)"
          [ngClass]="{ active: isStarActive(star) }"
          >star</mat-icon
        >
      </div>

      <label for="comment">Comment</label>
      <textarea
        id="comment"
        formControlName="comment"
        class="form-input"
      ></textarea>

      <button
        mat-icon-button
        class="submit-review"
        type="submit"
        aria-label="Submit Review"
        matTooltip="Submit Review"
      >
        <span class="material-symbols-outlined">reviews</span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
