<h2 class="favorites-title">Your Favorite Houses</h2>

@if (favoriteHouses.length) {
  <button
    class="clear-favorites-btn"
    (click)="clearFavorites()"
    >
    <mat-icon>delete_sweep</mat-icon>
    Clear All Favorites
  </button>
}

@if (favoriteHouses.length) {
  <div
    class="housing-location-container"
    >
    @for (house of favoriteHouses; track house) {
      <div class="favorite-card">
        <app-house-cards
          [housingLocation]="house"
          [attr.aria-label]="getFavoriteAriaLabel(house)"
        ></app-house-cards>
      </div>
    }
  </div>
} @else {
  <div class="no-favs-container">
    <mat-card class="no-favs-card">
      <mat-card-title>❌</mat-card-title>
      <mat-card-content>
        <p>You have no favorites yet.</p>
      </mat-card-content>
    </mat-card>
  </div>
}

