<main class="app-main">
  <mat-toolbar class="app-header">
    <!-- Coluna da Esquerda: Logo -->
    <div class="app-header-section">
      <a [routerLink]="['/']" class="app-header-logo">
        <img src="../assets/Homes.png" alt="logo" class="app-header-logo-img" />
      </a>
    </div>

    <!-- Coluna Central: Menu -->
    <div class="app-header-section app-header-nav-menu">
      <a mat-button class="app-header-nav-link" [routerLink]="['/about']">About</a>
      <span class="app-header-divider">|</span>
      <a mat-button class="app-header-nav-link" [routerLink]="['/contact']">Contact</a>
    </div>

    <!-- Coluna da Direita: Toggle -->
    <div class="app-header-section app-header-toggle">
      <mat-slide-toggle (change)="toggleDarkMode($event.checked)">
        🌙
      </mat-slide-toggle>
    </div>
  </mat-toolbar>


  <section class="app-content">
    <router-outlet></router-outlet>
  </section>




<!-- //usar no terminal: json-server --watch db.json -->

