<main class="app-main">
  <mat-toolbar class="app-header">
    <a [routerLink]="['/']" class="app-header-logo">
      <img src="../assets/Homes.png" alt="logo" class="app-header-logo-img" />
    </a>

    <nav class="app-header-nav-menu">
      <a mat-button class="app-header-nav-link" href="#sobre">About</a>
      <span class="app-header-divider">|</span>
      <a mat-button class="app-header-nav-link" href="#contato">Contact</a>
    </nav>
  </mat-toolbar>

  <section class="app-content">
    <router-outlet></router-outlet>
  </section>

  <section id="sobre" class="app-sobre">
  </section>

  <section id="contato" class="app-contato">
  </section>
</main>

<!-- //usar no terminal: json-server --watch db.json -->

