<ngx-spinner size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
@if (housingLocation) {
<article class="page-container">
  <div class="image-container">
    <!-- Imagem Principal -->
    <img
      class="listing-photo housing-image"
      [src]="
        housingLocation.photos[currentImageIndex] || 'assets/default-image.png'
      "
      alt="Photo {{ currentImageIndex + 1 }} of {{ housingLocation.name }}"
    />

    <!-- Flechas de Navegação -->
    @if (housingLocation.photos.length > 1) {
    <button
      mat-icon-button
      class="nav-arrow prev-arrow"
      (click)="previousImage()"
      aria-label="Previous image"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button
      mat-icon-button
      class="nav-arrow next-arrow"
      (click)="nextImage()"
      aria-label="Next image"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
    }

    <!-- Galeria de miniaturas -->
    <div class="thumbnail-gallery">
      @for(photo of housingLocation.photos; track photo) {
      <img
        [src]="photo"
        class="thumbnail"
        alt="Thumbnail of {{ housingLocation.name }}"
      />
      }
    </div>
    <button
      mat-icon-button
      class="favorite-details-button"
      (click)="toggleFavorite()"
      [ngClass]="{ favorited: isFavorited() }"
      [matTooltip]="
        isFavorited() ? 'Remove from favorites' : 'Add to favorites'
      "
      type="button"
    >
      <mat-icon>
        {{ isFavorited() ? "favorite" : "favorite_border" }}
      </mat-icon>
    </button>
  </div>

  <section class="heading-section">
    <h1 class="listing-heading">{{ housingLocation.name }}</h1>
    @if (canEditHouse()) {
    <button mat-stroked-button color="primary" (click)="editHouse()">
      <mat-icon>edit</mat-icon>
      Edit Listing
    </button>
    }
  </section>

  <!-- BLOCO DO MAPA -->
  @if (housingLocation.latitude && housingLocation.longitude) {
  <section class="listing-map">
    <h2 class="section-heading">Location on Map</h2>
    <div id="map" style="height: 400px; width: 740px; border-radius: 8px"></div>
  </section>
  }

  <!-- Seção de informações adicionais -->
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>✔ Units available: {{ housingLocation.availableUnits }}</li>
      <li>
        <mat-icon inline style="vertical-align: middle">wifi</mat-icon>
        Does this location have wifi: {{ housingLocation.wifi }}
      </li>
      <li>
        <mat-icon inline style="vertical-align: middle"
          >local_laundry_service</mat-icon
        >
        Does this location have laundry: {{ housingLocation.laundry }}
      </li>
    </ul>
  </section>

  <!-- Formulário de aplicação -->
  <section class="listing-apply">
    <h2 class="section-heading">Apply now to live here</h2>
    <form
      class="apply-form"
      [formGroup]="applyForm"
      (submit)="submitApplication()"
    >
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        type="text"
        formControlName="firstName"
        class="form-input"
      />
      <label for="lastName">Last Name</label>
      <input
        id="lastName"
        type="text"
        formControlName="lastName"
        class="form-input"
      />

      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        class="form-input"
      />
      <label for="phone">Phone</label>
      <input
        id="phone"
        type="text"
        formControlName="phone"
        class="form-input"
      />
      <label for="location">Location</label>
      <input
        id="location"
        type="text"
        formControlName="location"
        class="form-input"
      />

      <!-- SELL -->
      @if (housingLocation.typeOfBusiness === 'sell') {
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Date of Visit</mat-label>
          <input
            matInput
            [matDatepicker]="visitPicker"
            formControlName="visitDate"
            [min]="visitMinDate"
            [max]="visitMaxDate"
            [matDatepickerFilter]="visitDateFilter"
            placeholder="dd/mm/yyyy"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="visitPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #visitPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Visit Time</mat-label>
          <mat-select formControlName="visitTime">
            @for(time of availableVisitTimes; track time) {
            <mat-option [value]="time">{{ time }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      }

      <!-- RENT -->
      @if (housingLocation.typeOfBusiness === 'rent') {
      <div formGroupName="rentDateRange">
        <mat-form-field class="form-field-range">
          <mat-label>Check-in - Check-out</mat-label>
          <mat-date-range-input [rangePicker]="rentPicker" [min]="today">
            <input
              matStartDate
              placeholder="Check-in date"
              formControlName="checkInDate"
            />
            <input
              matEndDate
              placeholder="Check-out date"
              formControlName="checkOutDate"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="rentPicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #rentPicker></mat-date-range-picker>
        </mat-form-field>
      </div>
      }

      <button type="submit" class="primary full-width-btn">Apply now</button>
    </form>
  </section>
</article>
} @if (housingLocation?.id) {
<app-reviews
  [housingLocationId]="housingLocation!.id"
  [currentUser]="currentUser"
></app-reviews>
}
