<article class="application-confirmation-container" *ngIf="data">
  <mat-card class="confirmation-card">
    <button
      mat-icon-button
      class="close-button"
      aria-label="Close"
      (click)="close()"
    >
      <mat-icon>close</mat-icon>
    </button>

    <mat-card-title> Great news!! </mat-card-title>
    <mat-card-content>
      <!-- SELL -->
      <ng-container *ngIf="data?.typeOfBusiness === 'sell'">
        <p>
          Your visit is scheduled for
          <span class="highlight">{{ data.visitDate }}</span>
          at
          <span class="highlight">{{ data.visitTime }}</span>
          <br />
          at the house
          <span class="highlight">"{{ data.houseName }}"</span> located in
          <span class="highlight">{{ data.city }}, {{ data.state }}</span
          >.
        </p>
        <div class="reminder">
          <strong>Reminder:</strong><br />
          Always arrive 10 minutes before your scheduled time. We look forward
          to seeing you! If you need to change your date/time, use the button
          below.
        </div>
      </ng-container>

      <!-- RENT -->
      <ng-container *ngIf="data?.typeOfBusiness === 'rent'">
        <p>
          You rented the house
          <span class="highlight">"{{ data.houseName }}"</span> located in
          <span class="highlight">{{ data.city }}, {{ data.state }}</span>
          <br />
          from <span class="highlight">{{ data.checkInDate }}</span> to
          <span class="highlight">{{ data.checkOutDate }}</span
          >.
        </p>
        <div class="reminder">
          <strong>Reminder:</strong><br />
          Check-in for all houses is at <span class="highlight">08:00</span> and
          check-out at <span class="highlight">18:00</span>.
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</article>
