<mat-card class="legal-info-card">
  <h2 class="legal-info-title">Warranties and Legal Protections</h2>
  <p>
    When purchasing a property with us, you benefit from several warranties and
    legal protections:
  </p>
  <ul>
    <li>
      Properties with 100% verified documentation <mat-icon>verified</mat-icon>
    </li>
    <li>
      Legal warranty in accordance with the Consumer Protection Code
      <mat-icon>verified_user</mat-icon>
    </li>
    <li>
      Optional home insurance through trusted insurance partners<mat-icon
        >health_and_safety</mat-icon
      >
    </li>
    <li>
      Legal assistance throughout the purchasing process<mat-icon
        >shopping_cart_checkout</mat-icon
      >
    </li>
  </ul>
  <p>
    Our commitment is to ensure safety and peace of mind at every step of your
    purchase.
  </p>
</mat-card>
