<div class="home-filter-wrapper">
  <section class="home-filter">
    <form (submit)="onSubmit($event)">
      <input
        type="text"
        placeholder="Filter by city"
        [formControl]="filterControl"
      />
      <button class="home-button" type="submit" mat-icon-button color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </section>

  <div class="create-wrapper">
    <button
      *ngIf="currentUserRole === 'Admin' || currentUserRole === 'Manager'"
      class="create-button"
      routerLink="/create"
    >
      + Create a House
    </button>
    <button
      class="favorites-button"
      routerLink="/favorites"
      aria-label="Favorites"
    >
      <mat-icon>favorite_border</mat-icon>
      Favorites
    </button>
  </div>
</div>

<section class="housing-location-container">
  <app-housing-location
    *ngFor="let housingLocation of pagedLocationList"
    [housingLocation]="housingLocation"
  >
  </app-housing-location>
</section>

<mat-paginator
  [length]="filteredLocationList.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[20, 30, 50]"
  (page)="onPageChange($event)"
>
</mat-paginator>

<app-legal-info></app-legal-info>
