* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.housing-location-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr); // 3 colunas em telas médias
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr); // 2 colunas em tablets
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr; // 1 coluna em celulares

    .create-button {
      position: fixed;
      bottom: 24px;
      right: 24px;
      z-index: 10;
      border-radius: 50%;
      padding: 16px;
    }
  }
}
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 2rem;
  justify-content: center;
  align-items: start;
}

.home-filter-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 24px 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 24px auto;
}

.home-filter {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;

  form {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  input[type="text"] {
    flex: 1;
    padding: 15px;
    border: 1px solid var(--purpleBrdr);
    border-radius: 8px;
  }

  .home-button {
    padding: 12px 5px;
    background: var(--purpleBck);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;

    &:hover {
      background: #6b21a8;
    }
  }
}

.create-button {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  background-color: var(--purpleBck);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 600;
  transition: background 0.3s;

  &:hover {
    background: #6b21a8;
  }
}

.create-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left: 24px; // Espaço entre barra e botões
}

.favorites-button {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  background-color: var(--purpleBck);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.3s;

  mat-icon {
    color: white;
    font-size: 24px;
  }

  &:hover {
    background: #c62828;
    mat-icon {
      color: #ff1744;
    }
  }
}

.mat-icon {
  transition: background 0.3s;
  justify-content: center;
}

mat-card {
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}
