<div class="house-form-container">
  <ngx-spinner size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <mat-card class="house-form-card">
    <mat-card-title>{{
      isEditMode ? "Edit your house" : "Create a new house"
    }}</mat-card-title>

    <mat-progress-bar
      class="progress-bar"
      mode="determinate"
      [value]="progress"
      color="primary"
    ></mat-progress-bar>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h4>Property Details</h4>
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        @if (form.get('name')?.invalid && form.get('name')?.touched) {
        <mat-error> This field is required. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Type of Business</mat-label>
        <mat-select formControlName="typeOfBusiness" required>
          <mat-option value="sell">Sell</mat-option>
          <mat-option value="rent">Rent</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Property Type</mat-label>
        <mat-select formControlName="propertyType" required>
          <mat-optgroup label="Residential">
            @for (type of residentialPropertyTypes; track type) {
            <mat-option [value]="type.value">
              <mat-icon>{{ type.icon }}</mat-icon> {{ type.viewValue }}
            </mat-option>
            }
          </mat-optgroup>
          <mat-optgroup label="Commercial">
            @for (type of commercialPropertyTypes; track type) {
            <mat-option [value]="type.value">
              <mat-icon>{{ type.icon }}</mat-icon> {{ type.viewValue }}
            </mat-option>
            }
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <h4>Location</h4>
      <mat-form-field class="full-width">
        <mat-label>State</mat-label>
        <input
          type="text"
          matInput
          formControlName="state"
          [matAutocomplete]="autoState"
          required
        />
        <mat-autocomplete #autoState="matAutocomplete" autoActiveFirstOption>
          @for (st of filteredStates | async; track trackByStateId($index, st))
          {
          <mat-option [value]="st.name">{{ st.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>City</mat-label>
        <input
          type="text"
          matInput
          formControlName="city"
          [matAutocomplete]="autoCity"
          required
        />
        <mat-autocomplete #autoCity="matAutocomplete" autoActiveFirstOption>
          @for (city of filteredCities | async; track trackByCityId($index,
          city)) {
          <mat-option [value]="city">{{ city }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <h4>Pricing & Units</h4>
      <mat-form-field class="full-width">
        <mat-label>Available Units</mat-label>
        <input
          matInput
          type="number"
          formControlName="availableUnits"
          required
          min="0"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{ priceLabel }}</mat-label>
        <input
          matInput
          type="number"
          formControlName="price"
          required
          min="1"
        />
      </mat-form-field>

      <h4>Amenities</h4>
      <div class="checkbox-group">
        <mat-checkbox formControlName="wifi">Wi-Fi Available</mat-checkbox>
        <mat-checkbox formControlName="laundry">Laundry Available</mat-checkbox>
      </div>

      <h4>Property Image</h4>
      <div class="image-preview" *ngIf="imagePreview">
        <img [src]="imagePreview" alt="Image Preview" />
      </div>

      <!-- Botão de Upload de Imagem -->
      <label for="file-upload-input" class="file-upload-label">
        <mat-icon>upload_file</mat-icon>
        <span>Select Image</span>
      </label>
      <input
        id="file-upload-input"
        type="file"
        (change)="onImageSelected($event)"
        accept="image/*"
      />

      <!-- SEÇÃO DE DISPONIBILIDADE CONDICIONAL -->
      <ng-container [ngSwitch]="form.get('typeOfBusiness')?.value">
        <!-- PARA VENDA (SELL) -->
        <ng-container *ngSwitchCase="'sell'">
          <h4 class="availability-title">Visit Availability</h4>
          <div formGroupName="visitAvailability">
            <!-- Seletor de intervalo de datas -->
            <mat-form-field class="full-width">
              <mat-label>Available from - until</mat-label>
              <mat-date-range-input [rangePicker]="visitPicker">
                <input
                  matStartDate
                  placeholder="Start date"
                  formControlName="startDate"
                />
                <input
                  matEndDate
                  placeholder="End date"
                  formControlName="endDate"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matSuffix
                [for]="visitPicker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #visitPicker></mat-date-range-picker>
            </mat-form-field>

            <!-- Seletor de intervalo de tempo -->
            <div class="time-range-container">
              <mat-form-field class="time-field">
                <mat-label>From</mat-label>
                <mat-select formControlName="startTime">
                  @for(time of availableTimes; track time) {
                  <mat-option [value]="time">{{ time }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field class="time-field">
                <mat-label>Until</mat-label>
                <mat-select formControlName="endTime">
                  @for(time of availableTimes; track time) {
                  <mat-option [value]="time">{{ time }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </ng-container>

        <!-- PARA ALUGUEL (RENT) -->
        <ng-container *ngSwitchCase="'rent'">
          <h4 class="availability-title">Rental Availability</h4>
          <!-- Substitua os dois mat-form-field por este único -->
          <mat-form-field class="full-width">
            <mat-label>Available from - until</mat-label>
            <mat-date-range-input
              [rangePicker]="picker"
              formGroupName="rentDateRange"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="checkInDate"
              />
              <input
                matEndDate
                placeholder="End date"
                formControlName="checkOutDate"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </ng-container>
      </ng-container>

      <div class="actions">
        @if (isEditMode) {
        <button
          mat-flat-button
          class="action-btn delete-btn"
          type="button"
          (click)="onDelete()"
        >
          <mat-icon>delete</mat-icon>
          Delete
        </button>
        }
        <button
          mat-stroked-button
          class="action-btn cancel-btn"
          type="button"
          (click)="onCancel()"
        >
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
        <button
          mat-flat-button
          class="action-btn save-btn"
          type="submit"
          [disabled]="form.invalid"
        >
          <mat-icon>save</mat-icon>
          {{ isEditMode ? "Save Changes" : "Create House" }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
