<mat-card class="edit-card">
  <mat-card-title>Edit house</mat-card-title>

  <ng-container *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- Nome -->
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

        <!-- Estado -->
        <mat-form-field class="full-width">
          <mat-label>State</mat-label>
          <input type="text" matInput [formControl]="stateControl" [matAutocomplete]="autoState" />
          <mat-autocomplete #autoState="matAutocomplete" autoActiveFirstOption>
            <mat-option *ngFor="let st of filteredStates | async" [value]="st.name">
              {{ st.name }}
            </mat-option>
            <mat-option *ngIf="stateControl.value && !(filteredStates | async)?.length" [value]="stateControl.value">
              Add "{{ stateControl.value }}"
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


      <!-- Cidade -->
      <mat-form-field class="full-width">
        <mat-label>City</mat-label>
        <input type="text" matInput [formControl]="cityControl" [matAutocomplete]="autoCity" />
        <mat-autocomplete #autoCity="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let city of filteredCities | async" [value]="city">
            {{ city }}
          </mat-option>
          <mat-option *ngIf="cityControl.value && !(filteredCities | async)?.length" [value]="cityControl.value">
            Add "{{ cityControl.value }}"
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <!-- URL da Foto (opcional) -->
      <mat-form-field class="full-width">
        <mat-label>Photo URL (optional)</mat-label>
        <input matInput formControlName="photo" />
      </mat-form-field>

      <!-- Preview -->
      <div class="image-preview" *ngIf="imagePreview">
        <img [src]="imagePreview" alt="Preview foto" />
      </div>

      <!-- Upload de imagem -->
      <div class="file-upload">
        <button
          mat-icon-button
          type="button"
          aria-label="Selecionar imagem"
          (click)="fileInput.click()"
        >
          <mat-icon>upload</mat-icon>
        </button>
        <span>Select image</span>
        <input
          #fileInput
          type="file"
          accept="image/*"
          hidden
          (change)="onImageSelected($event)"
        />
      </div>

      <!-- Ações -->
      <div class="actions">
        <button mat-raised-button color="warn" type="button" (click)="onDelete()">Delete</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
      </div>
    </form>
  </ng-container>
</mat-card>
