<mat-card class="edit-card">
  <mat-card-title>Edit house</mat-card-title>

  <ng-container *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- Nome -->
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

        <!-- Estado -->
        <mat-form-field class="full-width">
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let st of states" [value]="st.isoCode">
              {{ st.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>


      <!-- Cidade -->
      <mat-form-field class="full-width">
        <mat-label>City</mat-label>
        <mat-select formControlName="city">
          <mat-option *ngFor="let city of cities" [value]="city.name">
            {{ city.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <!-- URL da Foto (opcional) -->
      <mat-form-field class="full-width">
        <mat-label>Photo URL (optional)</mat-label>
        <input matInput formControlName="photo" />
      </mat-form-field>

      <!-- Preview -->
      <div class="image-preview" *ngIf="imagePreview">
        <img [src]="imagePreview" alt="Preview foto" />
      </div>

      <!-- Upload de imagem -->
      <div class="file-upload">
        <button
          mat-icon-button
          type="button"
          aria-label="Selecionar imagem"
          (click)="fileInput.click()"
        >
          <mat-icon>upload</mat-icon>
        </button>
        <span>Select image</span>
        <input
          #fileInput
          type="file"
          accept="image/*"
          hidden
          (change)="onImageSelected($event)"
        />
      </div>

      <!-- Ações -->
      <div class="actions">
        <button mat-raised-button color="warn" type="button" (click)="onDelete()">Delete</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
      </div>
    </form>
  </ng-container>
</mat-card>
